/*Primary Clickable Icon*/
.primary-button-icon {
  width: 70px;
  height: auto;
  cursor: pointer;
  padding: 2px;
  padding-right: 15px;
  padding-left: 15px;
  /*border: 2px solid #965af7;
  border-radius: 8px;*/
}

.primary-button-icon:hover {
  background-color: #dfd1f5;
  transition: 0.3s;
}


.primary-button-icon:active {
  background-color: #965af7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
