.card-title {
  height: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto';
  text-align: top;
  font-size: large;
}

.card-subtitle {
  color: white;
  font-size: 80%;
  font-weight: bold;
  z-index: 22;
}
.card-header-text {
  border: 0.5px solid white;
  border-radius: 8px;
  background-color: white;
  height: 30px;
  width: 100%;
  z-index: 1;
}


.card-image {
  opacity: 90%;
  width: 100%;
  max-height: 100px;
}

.card {
  margin: auto;
  width: 280px;
  height: 160px;
  border: 2px solid #030091;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  /*background-color: #965af7 */;
  /*background-color: #ba23c2;*/
}

.card:hover {
  opacity: 70%;
  cursor: pointer;
  transition: 0.3s;
}

.card:active {
  background-color: #5e5cb3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}




