/*Primary Clickable Icon*/
.primary-button-text {
  font-family: 'Roboto';
  font-weight: bold;
  min-width: 100px;
  max-width: 200px;
  min-height: 30px;
  overflow: hidden;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  border: 2px solid #030091;
  border-radius: 8px;
  background-color: white;
}


.primary-button-text:hover {
  background-color: #b5b1fa;
  color: white;
  transition: 0.2s;
}


.primary-button-text:active {
  background-color: #030091;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.primary-button-text:disabled {
  background-color: #a4a3c2;
  color: #242424;
  cursor: not-allowed;
  pointer-events: none;
}
