.center {
  text-align: center;
  align-content: center;
  align-items: center;
  vertical-align: middle;
}

.errorMessage {
  font-family: 'Oxanium';
  font-size: x-large;
  color: #965ef7;
  font-style: inherit;
  font-weight: bold;
  padding-bottom: 20px;
}
