<div [style.display]="isAddMenuActive ? 'initial' : 'none'" style="float: right;">
  <div class="menu-itens-container">
    <label class = "menu-item-text green-text">Ganhos</label> <img class="menu-item" [src]="'./assets/img/add-menu-receipt.svg'" (click)="onReceiptClicked()">
  </div>
  <br>
  <div class="menu-itens-container">
    <label class="menu-item-text red-text">Despesas</label><img class="menu-item" [src]="'./assets/img/add-menu-expense.svg'" (click)="onExpenseClicked()">
  </div>
</div>
<div>
  <img style="float: right;"
  [src]="isAddMenuActive ? './assets/img/add-menu-button-cancel.svg' : './assets/img/add-button-img.svg'"
  (click)="onAddButtonClicked()">
</div>


