<div class="grid" [style.display]="isAddMenuActive ? 'initial' : 'none'" style="float: right; cursor: pointer;">
  <div class="grid menu-itens-container">
    <div class="center">
      <label class = "menu-item-text green-text">Ganhos</label>
    </div>
    <div class="center">
      <img class="menu-item-icon" [src]="'./assets/img/add-menu-receipt.svg'" (click)="onReceiptClicked()">
    </div>
  </div>
  <div class="grid menu-itens-container">
    <div class="center">
      <label class="menu-item-text red-text">Despesas</label>
    </div>
    <div class="center">
      <img class="menu-item-icon" [src]="'./assets/img/add-menu-expense.svg'" (click)="onExpenseClicked()">
    </div>
  </div>
</div>
<div>
  <img style="float: right;"
  [src]="isAddMenuActive ? './assets/img/add-menu-button-cancel.svg' : './assets/img/add-button-img.svg'"
  (click)="onAddButtonClicked()">
</div>


