.top-label {
  width: 268px;
  height: 21px;
  left: 53px;
  top: 38px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #797676;
}

.container-wraper {
  display: inline;
}

.container {
  margin-top: 20px;
  width: 100%;
}

.padding-small {
  padding-left: 5px;
}

.padding-large {
  padding-left: 30px;
}

.input-label-large {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.input-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.color-gray {
  color: #BCBCBC;
}

.input-small {
  width: 100px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 250px;
}

input[type=text], input[type=number], input[type=password] {
  padding-left: 12px;
  padding: 02px 05px;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px ridge #030091;
  font-size: 20px;

}

input:active {
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 1px ridge #030091;
}
