<nav *ngIf="isLoggedIn$" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="color-primary navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div  class="color-primary collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={{stockDashboardPath}}>Bolsa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href={{expenseDashboardPath}}>Despesas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <div class="dropdown">
      <span class="dropdown-content">Cadastro</span>
      <div class="dropdown-content">
        <a class="nav-link" href={{configPath}}>Configuração<span class="sr-only">(current)</span></a>
        <a class="nav-link" href={{stockPath}}>Papel<span class="sr-only">(current)</span></a>
        <a class="nav-link" href={{userPath}}>Usuário<span class="sr-only">(current)</span></a>
        <a class="nav-link" href={{operationPath}}>Operação<span class="sr-only">(current)</span></a>
        <a class="nav-link" href={{categoryPath}}>Categoria de Despesa<span class="sr-only">(current)</span></a>
      </div>
    </div>
    </ul>
  </div>
</nav>
