<div class="header center">
  <img src="assets/img/logo.png">
  <h1>O seu APP de finanças pessoais</h1>
</div>

<div class="container-login">
  <div class="wrap-login">
    <div class="internal-login">
      <h5>LOGIN</h5>
      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <div>
          <label  class="input-label" for="name">
            <b>Login</b>
          </label>
          <input id="id_username" type="text" formControlName="username" maxlength="25" placeholder="{{usernamePlaceholder}}" required>
        </div>

        <div [hidden]="isOfflineMode">
          <label  class="input-label" for="pass">
            <b>Senha</b>
          </label>
          <input id="id_password" type="password" formControlName="password" maxlength="25" placeholder="{{passwordPlaceholder}}" required>
        </div>

        <div>
          <div *ngIf="!isLoading" class="button-container">
            <btn-primary-blue type="submit" [text]="'Entrar'" (clickedEvent)="login()">
            </btn-primary-blue>
          </div>
          <div *ngIf="isLoading" class="loading-container">
            <img src='/assets/img/loading.gif' style="width: 100px; height: auto; display: block; margin: auto;">
          </div>
        </div>

        <div>
          <span [hidden]="isOfflineMode"> Não é usuário? Cadastre-se
            <button class="text-button" (click)="navSignUpPage()">AQUI</button>
          </span>
          <p [hidden]="!isOfflineMode" class="observationText">
            No modo offline suas infomações são  salvas no armazenamento local. Ao registrar novas informações, elas não serão refletidas em outros dispositivos, a menos que você habilite novamente o modo online.
          </p>
        </div>

        <div>
          <label [ngClass]="isOfflineMode ? 'offlineModeText' : 'onlineModeText'">{{changeConnectionModeLabel}}</label>
          <mat-slide-toggle formControlName="offlineModeControl" style="padding-left: 5px;"
            [color]="color"
            (change)= "onOfflineModeSliderChange()">
          </mat-slide-toggle>
        </div>

      </form>
    </div>
  </div>
</div>

<!--div class="footer"></div-->

