.container-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.wrap-login {
  width: 500px;
  background:white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}


.internal-login {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  background: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: 2px ridge #030091;
  border-radius: 8px;
}

h1 {
  padding: 10px;
  font-weight: bold;
  font-size: x-large;
  color: white;
}

.button-container {
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

.loading-container {
  padding-bottom: 40px;
  text-align: center;
}

.text-button {
  background:none;
  border:none;
  color: #030091;
  font-family: 'Roboto';
}

/* ------ */

.header {
  width: 100%;
  height: 100px;
  background-color: #030091;
  padding-top: 4px;
}

.center {
  text-align: center;
  font-family: 'Roboto';
  font-size: xx-large;
  font-weight: bolder;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: #030091;
}

.black-placeholder::placeholder {
  color: black;
  opacity: 1;
}


label {
  margin-bottom: 0rem;
  padding-top: 30px;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

input[type=text], input[type=password] {
  width: 100%;
  padding-left: 12px;
  padding: 02px 05px;
  display: -webkit-box;
}


.onlineModeText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #868686;
}

.offlineModeText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #030091;
}



app-button-primary-text {
  min-width: 1000px !important;
}

@media only screen and (max-width: 600px) {
  .header-text {
    font-size: large;
  }

  .container-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .wrap-login {
    width: 100%;
    background:white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }

  .internal-login {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: none;
  }
}
