<h1>Configurações</h1>

<div>
  <label><input #config_key class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search"/> </label>
  <button (click)="find_by_chave(config_key.value)" class="btn btn-primary" type="submit" >BUSCAR</button>
  <button (click)="get_all_configurations()" class="btn btn-primary" type="submit" >LISTAR TODAS</button>

  <!--br>
  <label>Valor:  <input #config_value /> </label>
  <br>
  <button (click)="get_all_configurations()">LISTAR TODAS</button>
  
  <button (click)="save_configuration(config_key.value, config_value.value)">INSERIR</button>
  <button (click)="update_configuration(config_key.value, config_value.value)">EDITAR</button>
  <button (click)="delete_configuration(config_key.value)">EXCLUIR</button>
</div-->

<div >
	<table class="table  table-hover table-sm" style="width: 50%">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Chave</th>
      <th scope="col">Valor</th>
      <th scope="col"><button class="btn btn-primary" [routerLink]="['/config/new']">NOVO</button></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let configuration of configurations">
      <th scope="row">{{configuration.id}}</th>
      <td>{{configuration.chave}}</td>
      <td>{{configuration.valor}}</td>
      <td style="width: 5%"><a routerLink="/config/{{configuration.id}}"><span class="badge">EDITAR</span></a></td>
      <td style="width: 5%"><button (click)="delete_configuration(configuration.id)" class="btn btn-light"><span class="badge">EXCLUIR</span></button></td>
    </tr>
  </tbody>
</table>
</div>
<div *ngIf="isEmpty" class="alert alert-warning" role="alert" style="width: 50%">
 Nenhuma configuração encontrada!
</div>
<div *ngIf="isSuccess" class="alert alert-info" role="alert" style="width: 50%">
 {{ configurations.length }} configurações encontradas!
</div>
<div *ngIf="isError">
 <div class="alert alert-danger" role="alert">
  Houve um erro ao realizar a solicitação!
</div>
</div>
