/* ----- TOP NAVBAR ----------*/
.topnav-right {
  float: right;
  padding-top: 3px;
}

.topnav {
  height: 40px;
  width: 100%;
  background-color: #030091;
  position: fixed;
  z-index: 998;
}


.top-navbar-text {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  z-index: 999;
}

.top-navbar-text:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.inline {
  display: inline;
}

/* ----- HOME HEADER ------ */
.home-header {
  padding-top: 60px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: #030091;
}

.home-header-grid {
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  gap: 40px;
}

.text-section {
  margin-left: 0px;
  padding: 20px;
  line-height: normal;
}

.icon-section {
  display: inline;
  box-sizing: border-box;
  max-width: 80%;
  padding: 30px;
}

.home-header-text {
  font-family: 'Roboto';
  color: white;
  font-weight: bold;
  font-size: 36px;
  padding-bottom: 30px;
}

/* ------ HOME CONTENT ------------ */
.home-content {
  padding-top: 40px;
}

.home-content-section-title {
  padding-left: 30px;
  padding-right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #030091;
}

.home-content-section-flat-cards-title {
  padding: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #030091;
}

.home-content-section-subtitle {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #2e2e2e;
}

.flat-cards {
  height: auto;
  width: 90%;
}

.home-content-flat-cards {
  background-color: #F6F1FF;
  padding-bottom: 10px;
  margin-top: 50px;
}

.home-home-content-flat-cards-grid {
  display: grid;
  grid: auto / auto auto;
  padding-left: 100px;
  padding-right: 100px;
  row-gap: 20px;
}

.grid-container {
  display: grid;
  grid: auto / auto auto auto;
  gap: 40px;
  text-align: center;
  padding: 20px;
}

.home-content-card-text {
  margin: auto;
  width: 280px;
  height: 120px;
  padding-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: justify;
  text-justify: inter-word;
  color: #2e2e2e;
}

/* ------- FOOTER ----------- */

.footer {
  background-color: #030091;
  height: 200px;
  width: 100%;
  text-align: left;
}

.white {
  color: white;
}

/* ==================== MOBILE ================ */

@media only screen and (max-width: 600px) {
  /* ------- TOP NAVBAR -----------*/
  .topnav-right {
    float: right;
    padding-top: 3px;
  }

  .topnav {
    width: 100%;
    background-color: #030091;
    position: fixed;
    z-index: 999;
  }


  .top-navbar-text {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
  }

  .inline {
    display: inline;
  }

  /* ------ HEADER ------ */
  .home-header {
    padding-top: 60px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #030091;
  }

  .home-header-grid {
    width: 100%;
    gap: 0px;
  }

  .text-section {
    margin-left: 0px;
    padding: 10px;
    width: 100%;
    line-height: normal;
  }

  .home-header-text {
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 0px;
  }

  .icon-section {
    display: none;
  }

  /* ------ HOME CONTENT ------------ */
  .home-content {
    padding-top: 40px;
  }

  .home-content-section-title {
    padding-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #030091;
  }

  .home-content-section-flat-cards-title {
    padding: 0px;
    padding-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #030091;
  }

  .home-content-section-subtitle {
    width: 100%;
    padding-top: 8px;
    padding-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #2e2e2e;
  }

  .home-content-flat-cards {
    background-color: #F6F1FF;
  }

  .home-home-content-flat-cards-grid {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid: auto / auto;
    gap: 30px
  }

  .flat-cards {
    margin-top: 30px;
    margin-bottom: 0px;
    height: auto;
    width: 100%;
  }


  .grid-container {
    display: grid;
    grid: auto / 100%;
    gap: 10px;
    text-align: center;
  }

  .home-content-card-text {
    margin: auto;
    width: 280px;
    padding-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    text-justify: inter-word;
    color: #2e2e2e;
  }

  /* ------- FOOTER ----------- */

  .footer {
    background-color: #030091;
    height: auto;
    width: 100%;
    text-align: left;
  }

  .white {
    color: white;
  }

  .signup {
    visibility: hidden;
  }
}
