<div>
  <!--label>Lancamentos</label-->
  <table class="table  table-hover table-sm">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <th scope="row">{{expense.description}}</th>
        <td>{{expense.value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</td>
        <td class="date">{{ expense.date | date: 'dd/MM/yyyy' }}</td>
        <td><button class="delete-row-button"  (click)="deleteExpense(expense.id)">x</button></td>
      </tr>
    </tbody>
  </table>
</div>
