
<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
<div id="mainDiv"  (click)="onMenuDismissed()">
  <app-main-nav-bar></app-main-nav-bar>
  <div class="top-message-container">
    <img src='./assets/img/icone-calendario.svg' class="top-message-icon">
     <label >Veja suas despesas desse mês!</label>
  </div>
  <div class="pie-chart-title-container">
    <img src='./assets/img/arrow-backward.svg' style="display: inline;" (click)="clickArrowPrevious()"><label class="pie-chart-title">{{pieChartTitle}}</label><img src='./assets/img/arrow-forward.svg' style="display: inline;" (click)="clickArrowNext()">
  </div>
  <app-date-range [startDate]="startDate" [endDate]="endDate"
    (reloadButtonClicked)="get_expenses_resume(startDate.value, endDate.value)"></app-date-range>

  <app-pie-chart *ngIf="isSuccess;else show_error_page" [pieChartLabels]="pieChartLabels"
  [pieChartData]="pieChartData"> </app-pie-chart>

  <div   class="financial-statement-container">
      <div>
        <label>Despesas no período</label><label class="financial-statement-values color-green">{{expenseReport.valorTotal | currency:'BRL':'symbol'}}</label>
      </div>
      <div style="border-bottom: 1px solid black;">
        <label>Receitas no período</label><label class="financial-statement-values color-red">{{totalReceipt | currency:'BRL':'symbol'}}</label>
      </div>
      <div>
        <label>Total</label><label class="financial-statement-values"  [style.color]="getFinancialStatement() > 0 ? '#4BC949': '#D00000'">{{getFinancialStatement() | currency:'BRL':true}}</label>
      </div>
  </div>
  <div style="margin-top: 40px; text-align: center; font-weight: bold; font-size: 16px;">
    <label>LANÇAMENTOS</label>
  </div>
  <app-expense-group *ngIf="isSuccess" [expenseGroups]="gruposLancamentos" (deleteRowEvent)="entryDeleted()"></app-expense-group>
</div>
<div class="add-button">
  <app-add-menu
    (isAddMenuDismissedTrue)="setOpacity()"
    (isAddMenuDismissedFalse)="returnNornalOpacity()"
    (expenseClicked)="activeExpense()"
    ([isAddMenuActive])="isAddMenuActive">

  </app-add-menu>
</div>
<div *ngIf="expenseClicked">
  WOW!
</div>


<ng-template #show_error_page>
  <app-expense-error-screen></app-expense-error-screen>
</ng-template>
