
/*------- TOP MESSAGE ------- */
.top-message-container {
  margin-top: 10px;
}

.top-message-icon {
  padding-right: 30px;
  margin-left: 20px;
}
/*---------------------------- */


/*------- EXPENSE TITLE ------ */

.pie-chart-title-container {
  text-align: center;
  margin-top: 20px;
}

.pie-chart-title {
display: inline;
font-family: 'Roboto', 'sans-serif';
vertical-align: middle;
padding-left: 100px;
padding-right: 100px;

font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
align-items: center;
text-align: center;

color: #000000;
}
/*---------------------------- */

/*------- FINANCIAL STATEMENT ------ */
.financial-statement-container {
  display: inherit;
  width: 300px;
  height: auto;
  margin: auto;
  margin-top: 20px;
}

.financial-statement-values {
  float: right;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.color-green {
  color: #4BC949;
}

.color-red {
  color: #D00000;
}

/*---------------------------- */

/* $$$$$ EXPANSION GROUP $$$$$$$ */
.previous {
  display: inline;
  position: inherit;
}

.expansion {
  background-color: #f9f9f9;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.detalhesLancamento {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.campoData {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}


.errorMessage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 400%;
  color: cadetblue;
}


.reload {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

/* ------------------------------------- */


.add-button {
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 999;
}
