<div>
  <div class="pie-chart">
    <app-pie-chart *ngIf="isSuccess;else show_error_page" [pieChartLabels]="pieChartLabels"
      [pieChartData]="pieChartData" [pieChartTitle]="'DESPESAS'"> </app-pie-chart>
  </div>
  <app-date-range [startDate]="dataInicial" [endDate]="dataFinal"
    (reloadButtonClicked)="get_expenses_resume(dataInicial.value, dataFinal.value)"></app-date-range>
  <app-expense-table-title [title]="tableTitle"></app-expense-table-title>
  <app-expense-group *ngIf="isSuccess" [expenseGroups]="gruposLancamentos"></app-expense-group>
  <br><br><br><br>
</div>



<ng-template #show_error_page>
  <app-expense-error-screen></app-expense-error-screen>
</ng-template>
