.header {
  background-color: #030091;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.grid {
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  gap: 5px;
}

.expense-category {
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
}
