.header {
  background-color: #030091;
}

.grid {
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  gap: 5px;
}

.expense-category {
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
}
