/*.date-range-container {
  margin-top: 10px;
}

.img {
  width: 60%;
  height: 60%;
  padding: 0px;

}


.datePicker {
  padding: 0px;
  font-style: inherit;
  font-weight: bold;
  font-family: 'Roboto', ;
}*/

@media only screen and (max-width: 600px) {
  .date-range-container {
    margin-top: 10px;
    width: 100%;
    padding-left: 10%;
  }

  .img {
    width: 60%;
    height: 60%;
    padding: 0px;

  }


  .datePicker {
    padding: 10px;
    width: 110px;
    font-style: inherit;
    font-weight: bold;
    font-size: small;
    font-family: 'Roboto', ;
  }
}
