<div>
  <div>
    <div class="dateRangeCentered">
      <mat-form-field class="datePicker">
        <input matInput [matDatepicker]="picker1" placeholder="Data Incial" [formControl]="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="datePicker">
        <input matInput [matDatepicker]="picker2" placeholder="Data Final" [formControl]="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <app-button-primary-icon [imageUrl]="'assets/img/date-with-reload.png'" (click)=onReloadButtonClicked($event)></app-button-primary-icon>
    </div>
  </div>
</div>
