.dateRangeCentered {
  align-content: center;
  text-align: center;
}

.img {
  width: 60%;
  height: 60%;
  padding: 0px;

}


.datePicker {
  padding: 20px;
  font-style: inherit;
  font-weight: bold;
  font-family: 'Roboto', ;
}
