<div class="grid recurrent-card">
  <div class="inner-grid">
    <div>
      <span class="description">
        {{entryGroup.recurrentEntry.description}}
      </span>
    </div>
    <div>
      <span class="entry-class">
        {{entryGroup.recurrentEntry.entryClass.name}}
      </span>
    </div>
  </div>
  <div class="inner-grid">
    <div>
      <div>
        <span *ngIf="entryGroup.recurrentEntry.entryType === 'DESPESA'" class="sign-minus">-</span>
        <span *ngIf="entryGroup.recurrentEntry.entryType === 'RECEITA'" class="sign-plus">+</span>
        <span class="amount">{{entryGroup.recurrentEntry.value.toLocaleString('pt-BR', { style: 'currency', currency:'BRL' })}}</span>
      </div>
    </div>
    <div>
      <span class="small-text">
        {{remainingDaysText}}
      </span>
    </div>
  </div>
  <div class="inner-grid-tag">
    <div style="position: relative;">
      <div [hidden]="hideTag" [ngClass]="tagClass" class="tag">
        <label>{{tagText}}</label>
      </div>
    </div>
    <div>
      <span class="small-text" style="margin-top: 5px;">
        <span>Até</span><span class="due-date-text">{{entryGroup.recurrentEntry.dueDate | date: 'dd/MM'}}</span>
      </span></div>
  </div>
</div>
