<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
<app-main-nav-bar></app-main-nav-bar>
<div style="height: 40px; width: 90%; box-sizing: border-box; margin: 10px auto auto auto;">
  <img src='/assets/img/arrow-backward.svg' style="float: left;" (click)="goBack()">
  <p style="display: block; text-align: center;  font-weight: bold; padding-top: 7px;">Categorias</p>
</div>
<div class="container">
  <div style="margin-top: 40px;">
    <label class="input-label color-primary">Nome:</label>
    <input type="text" class="input-medium padding-medium" #name value={{entryClass.name}}/>
  </div>
  <div>
    <label class="input-label color-primary">Descrição:</label>
    <input type="text" class="input-medium padding-medium" #description value={{entryClass.description}}/>
  </div>
  <!--div TODO: set entry type select to load value from object>
    <form [formGroup]="entryForm">
      <label class="input-label color-primary">Tipo</label>
      <select formControlName="typeControl" class="input-medium padding-medium">

      </select>
    </form>
  </div-->
  <div style="width: 100%; margin: 40px auto;">
    <btn-primary-blue style="float: left;" [text]="'SALVAR'" (click)="save(name.value, description.value)"></btn-primary-blue>
    <btn-secondary-blue style="float: right;"  [text]="'EXCLUIR'" (click)="deleteEntryClass()" ></btn-secondary-blue>
  </div>

</div>

