<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
<app-main-nav-bar></app-main-nav-bar>
<div style="height: 40px; width: 90%; box-sizing: border-box; margin: 10px auto auto auto;">
  <img src='/assets/img/arrow-backward.svg' style="float: left;" (click)="goBack()">
  <p style="display: block; text-align: center;  font-weight: bold; padding-top: 7px;">Categorias</p>
</div>
<div class="container">
  <div style="margin-top: 40px;">
    <label class="input-label color-primary">Nome</label>
    <input type="text" class="input-medium padding-medium" #name value={{entryClass.nome}}/>
  </div>
  <div>
    <label class="input-label color-primary">Descrição</label>
    <input type="text" class="input-medium padding-medium" #description value={{entryClass.descricao}}/>
  </div>
  <div>
    <label class="input-label color-primary">Tipo</label>
    <select class="input-medium padding-medium" #type selected="entryClass.tipo">
      <option value="'RECEITA'">RECEITA</option>
      <option value="'RECEITA'">DESPESA</option>
  </select>
  </div>
  <div style="width: 50%; margin: 40px auto;">
    <button (click)="deleteEntryClass()" class="btn btn-light">EXCLUIR</button>
  <button (click)="save(name.value, description.valeu, type.value)" class="btn btn-primary">SALVAR</button>
  </div>

</div>

