<label>Lançamentos</label>
<br>
<textarea #inputEntries style="width: 90%; height: 400px; overflow: scroll;">{{entries}}</textarea>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<label>Categorias</label>
<br>
<textarea #inputEntryClasses style="width: 90%; height: 400px; overflow: scroll;">{{entryClasses}}</textarea>
<br>
<br>
<br>
<br>
<br>
<br>
<label>Lançamentos Recorrentes</label>
<br>
<textarea #inputRecurrentEntries style="width: 90%; height: 400px; overflow: scroll;">{{recurrentEntries}}</textarea>
<br>
<br>
<br>
<btn-primary-blue-large [text]="'ATUALIZAR'" (click)="updateLocalStorage(inputEntries.value, inputEntryClasses.value, inputRecurrentEntries.value)"></btn-primary-blue-large>
<btn-primary-blue-large [text]="'LIMPAR BANCO'" (click)="clearLocalStorage()"></btn-primary-blue-large>

