.grid {
  width: 100%;
  display: grid;
  grid: 70px / 14% 20% 10% 55%;
  overflow: hidden;
}

.date-text {
  font-family: 'Roboto';
  padding-left: 10px;
  line-height: 15px;
  margin: 0px;
  font-size: smaller;
  color: #585858;
}

.date-number {
  font-family: 'Roboto';
  padding-left: 10px;
  line-height: 15px;
  margin: 0px;
  font-size: large;
}

.sign-minus {
  font-family: 'Roboto';
  line-height: 20px;
  position: relative;
  right: 5px;
  top: 0px;
  font-size: 50px;
  color: red;
  text-align: right;
}

.sign-plus {
  font-family: 'Roboto';
  line-height: 20px;
  position: relative;
  right: 5px;
  top: 0px;
  font-size: 40px;
  color: green;
  text-align: right;
}

.amount {
  font-family: 'Roboto';
  font-weight: bolder;
  font-size: large;
  margin: 0px;
}

.description {
  font-family: 'Roboto';
  display: block;
  margin: 0px;
  line-height: 20px;
  font-size: small;
  color: #585858;
}

.entryClassIcon {
  display: block;
  width: 30px;
  height: auto;
  margin: auto;
}
