<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>

<div *ngFor="let entry of entries">
  <div class="grid">
    <div>
      <img *ngIf="entry.categoria.nome === 'Alimentação'" src='/assets/img/food-icon.png' class="entryClassIcon">
      <img *ngIf="entry.categoria.nome === 'Transporte'" src='/assets/img/transport-icon.png' class="entryClassIcon">
      <img *ngIf="entry.categoria.nome === 'Lazer'" src='/assets/img/leisure-icon.png' class="entryClassIcon">
      <img *ngIf="entry.categoria.nome !== 'Alimentação' && entry.categoria.nome !== 'Transporte' && entry.categoria.nome !== 'Lazer'" src='/assets/img/other-classes-icon.png' class="entryClassIcon">
    </div>
    <div>
      <p class="date-text">{{getEntryDateWeekDayName(entry.data)}}</p>
      <p class="date-number">{{getEntryDateMonthDay(entry.data)}}</p>
      <p class="date-text">{{getEntryMonthName(entry.data)}}</p>
    </div>
    <div >
      <p *ngIf="entry.tipo === 'DESPESA'" class="sign-minus">-</p>
      <p *ngIf="entry.tipo === 'RECEITA'" class="sign-plus">+</p>
    </div>
    <div style="text-overflow: ellipsis;">
      <p class="amount">{{entry.valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</p>
      <p class="description">{{entry.descricao.toUpperCase()}}</p>
    </div>
  </div>
  <hr style="margin: 5px;">
</div>
