  <div class="imgcontainer">
    <img src="" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Login</b></label>
    <input #user_name type="text" placeholder="Nome do usuário" name="uname" required>

    <label for="psw"><b>Senha</b></label>
    <input #password type="password" placeholder="Insira a senha" name="psw" required>

    <button type="submit" (click)="login(user_name.value, password.value)">Entrar</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Lembrar me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn"><a mat-list-item href="/signup" style="color:white;">Criar uma conta</a></button>
    <span class="psw"> <a href="#">Esqueci a senha</a></span>
  </div>

<div *ngIf="isAuthorized" class="alert alert-info" role="alert" style="width: 50%">
  Login realizado com sucesso!
</div>

<div *ngIf="isUnauthorized" class="alert alert-danger" role="alert" style="width: 50%">
  Login ou senha incorretos!
</div>
