<div class="header">
  <img src="assets/img/logo.png">
  <h2 class="header-text">O seu APP de finanças pessoais</h2>
</div>
<form  [formGroup]="signUpForm">
  <div class="container">
    <h2>Cadastrar</h2>
    <p>Preencha as informações para criar a conta</p>
    <hr>
    <div class="inner-container">
      <label style="color: red;">*</label><label>Login</label>
      <input formControlName="login" type="text" maxlength="25" trim="blur" placeholder="Entre seu login">

      <label style="color: red;">*</label><label>Nome</label>
      <input formControlName="name" type="text" maxlength="100" placeholder="Seu nome"  >

      <label style="color: red;">*</label><label>Crie uma senha</label>
      <input formControlName="psw" type="password" maxlength="25" placeholder="Entre a senha">

      <label style="color: red;">*</label><label>Repita a senha</label>
      <input formControlName="repeatPsw" type="password" maxlength="25" placeholder="Repita a senha">
    </div>

    <div *ngIf="!isLoading"  class="clearpfix">
      <div class="button-container">
        <btn-primary-blue [isloadingButtonType]="false"  [text]="'Cadastrar'" (clickedEvent)="signUp()"
          (keyup.enter)="signUp()">
        </btn-primary-blue>
        <button (click)="goBack()" style="font-weight: bolder;" class="button-back color-primary">
          Voltar
        </button>
      </div>
    </div>

    <div *ngIf="isLoading" class="loading-container">
      <img src='/assets/img/loading.gif' class="loading-gif">
    </div>
  </div>
</form>
