* {box-sizing: border-box}

form {
  border: 1px solid #ccc;
}

input[type=text], input[type=password] {
  width: 100%;
  padding-left: 12px;
  margin: 5px 0 22px 0;
  padding: 02px 05px;
  display: -webkit-box;
}

label {
  font-weight: bold;
}

p {
  text-align: center;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Add padding to container elements */
.container {
  padding-top: 30px;
  width: 600px;
  height: auto;
}

.inner-container {
  padding: 50px;
  border: 1px solid #030091;
  border-radius: 8px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #030091;
  padding-top: 4px;
  text-align: center;
  font-family: 'Roboto';
  font-size: xx-large;
  font-weight: bolder;
}

.header-text {
  padding: 10px;
  font-weight: bold;
  font-size: x-large;
  color: white;
}

.button-container {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.button-back {
  background: none;
  border: none;
  font-weight: bolder;
  display: block;
  margin: auto;
  width: 100px;
}

.text-center {
  text-align: center;
  justify-content: center;
}

.loading-container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.loading-gif {
  width: 100px;
  height: auto;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .header-text {
    font-size: large;
  }

  .container {
    width: 100%;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .inner-container {
    padding: 10px;
    border: none;
  }
}
