<div class="header center">
  <img src="assets/img/logo.png">
  <h2 class="header-text">O seu APP de finanças pessoais</h2>
</div>
<form action="action_page.php" style="border:1px solid #ccc">
  <div class="container">
    <h2>Cadastrar</h2>
    <p style="text-align: center;" >Preencha as informações para criar a conta</p>
    <hr>

    <div class="inner-container">
      <label style="color: red;">*</label><label  for="login" class="color-primary"><b>Login</b></label>
      <input #login type="text" maxlength="25" placeholder="Entre seu login" name="login" required>

      <label style="color: red;">*</label><label  for="psw" class="color-primary"><b>Crie uma senha</b></label>
      <input #psw type="password" maxlength="25" placeholder="Entre a senha" name="psw" required>

      <label style="color: red;">*</label><label  for="psw-repeat" class="color-primary"><b>Repita a senha</b></label>
      <input #repeatPsw type="password" maxlength="25" placeholder="Repita a senha" name="psw-repeat" required>

      <label style="color: red;">*</label><label for="name" class="color-primary"><b>Nome</b></label>
      <input #name type="text" maxlength="100" placeholder="Seu nome" name="name" >
    </div>


    <div *ngIf="!isLoading" style="display: inline;" class="clearfix">
      <div style="padding-top: 20px; padding-bottom: 20px; text-align: center;">
        <btn-primary-blue [isloadingButtonType]="false"  [text]="'Cadastrar'" (clickedEvent)="signUp(login.value, psw.value, repeatPsw.value, name.value)"
          (keyup.enter)="signUp(login.value, psw.value, repeatPsw.value, name.value)">
        </btn-primary-blue>
        <button (click)="goBack()"
            style="
              padding: 0px;
              background: none;
              border: none;
              color: #030091;
              font-family: 'Roboto';
              font-weight: bolder;
              float: left;
            "
          >
            Voltar
          </button>
      </div>
    </div>

    <!--div div *ngIf="!isLoading"  class="clearfix" style="width: 100%; margin: 40px auto;">
      <btn-secondary-blue style="float: left;"  [text]="'Voltar'" (click)="goBack()" ></btn-secondary-blue>
      <btn-primary-blue style="float: right;" [text]="'Cadastrar'" (clickedEvent)="signUp(login.value, psw.value, repeatPsw.value, name.value)"
      (keyup.enter)="signUp(login.value, psw.value, repeatPsw.value, name.value)"></btn-primary-blue>
    </div-->
    <div *ngIf="isLoading" style="width: 100%; margin: auto; box-sizing: border-box;">
      <img src='/assets/img/loading.gif' style="width: 100px; height: auto; display: block; margin: auto;">
    </div>
  </div>
</form>
