.grid {
  box-sizing: border-box;
  display: grid;
  grid: auto / 25% 25% 25% 25%;
  height: 45px;
  width: 100%;
  margin:auto;
  background-color: #ECECEC;
  border-radius: 20px;
}

.container {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

.topic{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  font-size: 14px;
  color: #777777;
  margin-top: 40px;
  margin-left: 5px;
}

.filter-item {
  width: 90%;
  height: 90%;
  border: 1px solid #ECECEC;
  border-radius: 12px;
  box-sizing: border-box;
  margin: auto;
  font-size: small;
}

.filter-text {
  display: block;
  text-align: center;
  text-decoration: underline;
  margin: auto;
  padding: 10px;
}

p {
  margin: 0px;
}

.results-container {
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}
