<div class="header center">
  <img src="assets/img/logo.png">
  <h2 class="header-text">O seu APP de finanças pessoais</h2>
</div>
<div *ngIf="isFakeServer">
  <app-alert-on-screen
    [title]="'Servidor não conectado.'"
    [message]="'Utilizando armazenamento do seu Browser. Ao limpar os dados do navegador, seus dados serão apagados.'">
</app-alert-on-screen>
<form action="action_page.php" style="border:1px solid #ccc">
  <div class="container">
    <h2>Cadastrar</h2>
    <p style="text-align: center;" >Preencha as informações para criar a conta</p>
    <hr>

    <div class="inner-container">
      <label #login for="login" class="color-primary"><b>*Login</b></label>
      <input type="text" placeholder="Entre seu login" name="login" required>

      <label #psw for="psw" class="color-primary"><b>*Crie uma senha</b></label>
      <input type="password" placeholder="Entre a senha" name="psw" required>

      <label #repeatPsw for="psw-repeat" class="color-primary"><b>*Repita a senha</b></label>
      <input type="password" placeholder="Repita a senha" name="psw-repeat" required>

      <label #name for="name" class="color-primary"><b>Nome</b></label>
      <input type="text" placeholder="Seu nome" name="name" >
    </div>


    <div class="clearfix">
      <div style="padding-top: 20px; padding-bottom: 40px;  text-align: center;">
        <btn-primary-blue [isloadingButtonType]="false"  [text]="'Cadastrar'" (clickedEvent)="signUp(login.value, psw.value, repeatPsw.value, name.value)"
          (keyup.enter)="signUp(login.value, psw.value, repeatPsw.value, name.value)">
        </btn-primary-blue>
      </div>
    </div>
  </div>
</form>
