* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding-top: 30px;
  width: 600px;
  height: auto;
}

.inner-container {
  padding: 50px;
  border: 1px solid #030091;
  border-radius: 8px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  color: #030091;
  text-align: center;
}


.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: #030091;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #030091;
  padding-top: 4px;
}

.header-text {
  padding: 10px;
  font-weight: bold;
  font-size: x-large;
  color: white;
}

.center {
  text-align: center;
  font-family: 'Roboto';
  font-size: xx-large;
  font-weight: bolder;
}

input[type=text], input[type=password] {
  width: 100%;
  padding-left: 12px;
  padding: 02px 05px;
  display: -webkit-box;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px ridge #030091;
  background-color: transparent;
}

input:active {
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 1px ridge #030091;
}


input:focus {
  background-color: transparent;
}

.text-center {
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .header-text {
    font-size: large;
  }

  .container {
    width: 100%;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .inner-container {
    padding: 10px;
    border: none;
  }
}
