<h2>Configurações</h2>

<div>
  <label>Chave:  <input #config_key /> </label>
  <br>
  <label>Valor:  <input #config_value /> </label>
  <br>
  <button (click)="get_all_configurations()">LISTAR TODAS</button>
  <button (click)="get_configuration(config_key.value)">LISTAR PELA CHAVE</button>
  <button (click)="save_configuration(config_key.value, config_value.value)">INSERIR</button>
  <button (click)="update_configuration(config_key.value, config_value.value)">EDITAR</button>
  <button (click)="delete_configuration(config_key.value)">EXCLUIR</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>


<div>
  <ul id="config_list">
      <li *ngFor="let configuration of configurations" >
      	<a routerLink="/detail/{{configuration.id}}">
  			<span class="badge">{{configuration.chave}}</span> {{configuration.valor}}
		</a>
    	<button class="delete" title="delete hero"(click)="delete_configuration(config_key.value)">x</button>
      </li>
  </ul> 
</div>