/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.color-primary {
  color: #030091;

}

.input-label  {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  margin: 0px;
  vertical-align: middle;
  max-width: 150px;
  min-width: 100px;

}

.color-primary .input-label-large {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  max-width: 150px;
  min-width: 100px;
}

.color-primary .input-label-small {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 0px;
  vertical-align: middle;
  max-width: 150px;
  min-width: 100px;
}




/* Snackbar */
.mat-snack-bar-container {
  font-weight: bold;
  max-width: 100% !important;
  min-width: 100% !important;
}

@media only screen and (max-width: 600px) {
  .mat-snack-bar-container {
    font-weight: bold;
    min-width: 0% !important;
    width: 100%;
  }
}

.snackbarStyle {
  border: 2px solid #030091 !important;
  background-color: white;
  color: black;
  left: 0px;
  right: 0px;
}

.mat-simple-snackbar-action {
  border: 2px solid #030091;
  color: #13032e;
  background-color: white;
}

.center {
  align-content: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
