/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.color-primary {
  color: #030091;
  font-family: 'Roboto';
}

.mat-snack-bar-container {
  font-weight: bold;
  min-width: 200% !important;
}

.snackbarStyle {
  border: 2px solid #030091 !important;
  background-color: white;
  color: black;
  left: 0px;
  right: 0px;
}

.mat-simple-snackbar-action {
  color: #13032e;
  background-color: #030091;
}

.center {
  align-content: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
