/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-snack-bar-container {
  font-weight: bold;
  min-width: 200% !important;
}


.snackbarStyle {
  border: 2px solid #965af7 !important;
  background-color: #dfd1f5;
  color: black;
  left: 0px;
  right: 0px;
}

.mat-simple-snackbar-action {
  color: #13032e;
  background-color: #c19ff7;
}
