<div>
    <label (click)="closeButtonClicked()" class="close-button">x</label>
    <div class = "menu-item-text red-text">
      <label >Despesas</label> <img [src]="'./assets/img/add-menu-expense.svg'">
    </div>
  </div>

  <div style="margin-top: 70px;">
    <div [formGroup]="group" class="container">
      <!-- Amount group-->
      <div style="margin-top: 10px;">
        <img  [src]="'./assets/img/credit-card-icon.svg'" class="mandatory-item"><label class="red-text">*</label><label class="color-primary input-label">Valor:</label>
        <input formControlName="value" id="input-currency" class="input-medium padding-small" style="font-size: 24px; font-weight: bold;" #amount placeholder="R$ 000,00" currencyMask type="tel"  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
      </div>
      <hr>
      <!-- Entry Class group-->
      <div>
        <img [src]="'./assets/img/credit-card-icon.svg'" class="mandatory-item"> <label class="red-text">*</label><label class="color-primary input-label">Categoria:</label>
        <select formControlName="entryClass"  #entryGroupSelect (change)="selectValueChanged(entryGroupSelect)" class="input-medium" #entryGroupSelect>
          <option value='---'>---</option>
          <option *ngFor="let entryClass of entryClasses" [value]="entryClass.id">{{entryClass.name}}</option>
          <option style="font-weight: bold;" value="new">*Criar Nova*</option>
        </select>
      </div>
      <hr>
      <!-- New Entry Class group-->
      <div>
        <span [hidden]="!isNewEntryGroup" class="hint-text new-expense-text ">*Uma nova categoria será criada com as informações</span>
        <div [hidden]="!isNewEntryGroup">
          <span class="hint-text">Nova Categoria</span>
            <div>
              <label class="red-text">*</label><label class="color-primary input-label-small">Nome:</label>
              <input formControlName="newEntryClassName" #newEntryGroupName type="text" maxlength="40" class="input-medium">
            </div>
            <div>
              <label class="red-text">*</label><label class="color-primary input-label-small">Descrição:</label>
              <input formControlName="newEntryClassDescription" #newEntryGroupDescription type="text" maxlength="100" class="input-medium padding-small">
            </div>
            <hr>
        </div>
      </div>
      <!-- Description group-->
      <div>
        <img [src]="'./assets/img/credit-card-icon.svg'" class="mandatory-item"><label class="color-primary input-label">Descrição:</label>
        <input formControlName="description" #description class= "input-medium" type="text" maxlength="100">
      </div>
      <hr>
      <!-- Date group-->
      <div>
        <img [src]="'./assets/img/credit-card-icon.svg'" class="mandatory-item"> <label class="red-text">*</label><label class="color-primary input-label">Data:</label>
        <mat-form-field class="datePicker" style="max-width: 150px;">
          <input #date class="color-primary input-label" matInput [matDatepicker]="picker1" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker id="dateInput" #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <hr>
      <!-- Installment Purchase group-->
      <div class="container">
        <img src='/assets/img/question-icon.png' class="mandatory-item" matTooltip="Ao selecionar a compra parcelada serão realizados lançamentos nos meses subsequentes com os valores da parcela.">
        <label class="color-primary input-label">Parcelada?</label>
        <mat-slide-toggle formControlName="installmentPurchase"
          [color]="color"
          >
        </mat-slide-toggle>
        <select formControlName="numberOfPlots" [hidden]="!group.value.installmentPurchase" #numberOfPlots  style="display: inline;">
          <option *ngFor="let plot of plots" [value]="plot">{{plot.toString() + 'x'}}</option>
        </select>
      </div>
      <hr>
      <!-- Recurrent entry group-->
      <div class="container">
        <img src='/assets/img/question-icon.png' class="mandatory-item" matTooltip="As despesas recorrentes são lançados todos os meses com o mesmo valor, incluindo lembretes para pagamento">
        <label class="color-primary input-label">Recorrente? </label>
        <mat-slide-toggle formControlName="recurrentEntry"
          [color]="color"
          >
        </mat-slide-toggle>
        <div [hidden]="!group.value.recurrentEntry">
          <p style="margin-top: 20px; margin-bottom: 0px; font-weight: bolder;">
            Até
          </p>
          <mat-form-field style="max-width: 150px;">
            <input #date class="color-primary input-label" matInput [matDatepicker]="picker2" formControlName="recurrentDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker id="recurrentDateInput" #picker2></mat-datepicker>
          </mat-form-field>
          <p class="observationText">
            Despesas recorrentes serão lançadas todos os meses até <strong>{{group.value.recurrentDate | date: 'dd/MM/yyyy'}}</strong>. Para alterações, acessar o menu<span (click)="openRecurrentEntries()" class="color-primary"> Lançamentos Recorrentes</span>
          </p>

        </div>
      </div>

      <!-- Button save -->
      <div  class="button-save">
        <btn-primary-blue [text]="'OK'" (click)="saveExpense($event)" ></btn-primary-blue>
      </div>

  </div>
  </div>


