.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: x-large;
  font-weight: bold;
}

.top-label {
  width: 268px;
  height: 21px;
  left: 53px;
  top: 38px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #797676;
}

.mandatory-item {
  margin-right: 10px;
  vertical-align: middle;
}

.container-wraper {
  display: inline;
  vertical-align: middle;
}

.container {
  vertical-align: middle;
  width: 100%;
}

.padding-small {
  padding-left: 5px;
}

.padding-large {
  padding-left: 30px;
}

.hint-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;

  color: #7A7A7A;
}

.new-expense-text {
  padding-left: 150px;
  max-width: 300px;
}

.button-save {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}


.color-gray {
  color: #BCBCBC;
}

.input-small {
  width: 100px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 250px;
}

#input-currency {
  /*background-image: url('/assets/img/RS-icon.svg');*/
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 10px;
  color: #1d1d1d;
}


input:active {
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 1px ridge #030091;
}




.grid {
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  gap: 5px;
}


.menu-item:active {
  cursor: pointer;
  box-shadow: none;
}

.menu-item:hover {
  cursor: pointer;
  background-color: rgb(6, 15, 134);
}

.menu-itens-container {
  cursor: pointer;
  vertical-align: middle;
}

.menu-item-text {
  height: 19px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 5px;
  left: 5px;
}

.input-color {
  border: none;
}

.green-text {
  color: #009C19;
}

.red-text {
  color: #F31919;
}
