<div>
  <table class="table  table-hover table-sm" style="width: 100%">
  <thead class="thead-light">
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Quantidade Disponível</th>
      <th scope="col">Preço Médio</th>
      <th scope="col">Valor de Mercado</th>
      <th scope="col">Resultado Momentâneo (%)</th>
      <th scope="col">Resultado Acumulado (%)</th>
      <th scope="col">Resultado Acumulado(R$)</th>
      <th scope="col">-----------------------</th>
    </tr>
  </thead>
  <tbody >
  </tbody>
</table>
</div>
<div  *ngFor="let userBalance of userBalances" style="width: 100%">
  <div>
    <mat-accordion >
      <mat-expansion-panel (opened)="loadStockOperations(userBalance.papel)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>{{userBalance.papel.codPapel}}</h5>
          </mat-panel-title>
          <mat-panel-description>
            {{userBalance.quantidadeDisponivel}}
          </mat-panel-description>
          <mat-panel-description>
            {{userBalance.valorMedio}}
          </mat-panel-description>
          <mat-panel-description>
            <td *ngIf="userBalance.papel.valor">{{userBalance.papel.valor}}</td> <td *ngIf="!userBalance.papel.valor">---</td>
          </mat-panel-description>
          <mat-panel-description>
            {{userBalance.rendimentoAtual}}
          </mat-panel-description>
          <mat-panel-description>
            {{userBalance.rendimentoPorcentagem}}
          </mat-panel-description>
          <mat-panel-description class="money">
            {{userBalance.rendimentoNumerico}}
          </mat-panel-description>
          <mat-panel-description>
              <button (click)="get_stock_info(userBalance.papel)" class="btn btn-light"><span class="badge">ATUALIZAR</span></button>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div *ngFor="let operation of userBalance.papel.operations">
            {{operation.data}} {{operation.quantidade}} {{operation.valorPapel}}   {{operation.valorTotal}}   {{operation.tipoOperacao}}
        </div>
        


      </mat-expansion-panel>
    </mat-accordion>
   </div>
</div>
