
<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
<div id="mainDiv"  (click)="onMenuDismissed()">
  <app-main-nav-bar></app-main-nav-bar>
  <div *ngIf="isOfflineMode">
    <app-alert-on-screen
      [title]="'Modo offline.'"
      [message]="'Utilizando armazenamento do seu Browser. Ao fazer logout ou limpar os dados do navegador, seus dados serão apagados.'">
  </app-alert-on-screen>
  </div>
  <div class="top-message-container">
    <img src='./assets/img/icone-calendario.svg' class="top-message-icon">
     <label >Veja suas despesas do mês!</label>
  </div>
  <div class="pie-chart-title-container">
    <img src='./assets/img/arrow-backward.svg' (click)="clickArrowPrevious()" style="float: left; cursor: pointer;"><label class="pie-chart-title">{{pieChartTitle}}</label> <img src='./assets/img/arrow-forward.svg'  (click)="clickArrowNext()" style="float: right; cursor: pointer;">
  </div>
  <div class="date-range-container" >
    <div style="width: 300px; margin: auto; box-sizing: border-box;">
      <app-date-range style="width: 100%; margin: auto; display: block;" [startDate]="startDate" [endDate]="endDate"
    (reloadButtonClicked)="getExpenseReport(startDate.value, endDate.value)"></app-date-range>
    </div>
  </div>


  <div *ngIf="!isLoading && isSuccess && !isEmptyResult">
    <div style="width: 80%; box-sizing: border-box; margin: auto;">
      <app-pie-chart [pieChartLabels]="pieChartLabels"
      [pieChartData]="pieChartData"> </app-pie-chart>
    </div>


    <div   class="financial-statement-container">
        <div>
          <label>Despesas no período</label><label class="financial-statement-values color-red">{{totalExpenses.toLocaleString('pt-BR', { style: 'currency', currency:'BRL' })}}</label>
        </div>
        <div style="border-bottom: 1px solid black;">
          <label>Receitas no período</label><label class="financial-statement-values color-green">{{totalReceipt.toLocaleString('pt-BR', { style: 'currency', currency:'BRL' })}}</label>
        </div>
        <div>
          <label>Total</label><label class="financial-statement-values"  [style.color]="getFinancialStatement() > 0 ? '#4BC949': '#D00000'">{{getFinancialStatement().toLocaleString('pt-BR', { style: 'currency', currency:'BRL' })}}</label>
        </div>
    </div>
    <div style="margin-top: 40px; text-align: center; font-weight: bold; font-size: 16px;">
      <label>LANÇAMENTOS</label>
    </div>
    <div>
    <p *ngIf="expenseGroups.length > 0" style="font-size: small; color: #cacaca; padding-left: 5px;">Despesas</p>
      <div>
        <app-expense-group *ngIf="isSuccess" [expenseGroups]="expenseGroups" (deleteRowEvent)="entryDeleted()"></app-expense-group>
      </div>
      <br>
      <p style="font-size: small; color: #cacaca;  padding-left: 5px;">Receitas</p>
      <div>
        <app-expense-group *ngIf="isSuccess" [expenseGroups]="receiptGroups" (deleteRowEvent)="entryDeleted()"></app-expense-group>
      </div>
      <br>
    </div>
    <p *ngIf="expenseGroups.length > 0" style="font-size: small; color: #cacaca;">Últimos lançamentos</p>
    <div *ngIf="expenseGroups.length > 0">
      <app-entry-table [entries]="allEntries"></app-entry-table>
    </div>
    <p *ngIf="expenseGroups.length > 0" style="font-size: small; font-weight: bold; color: #777777; text-align: center; text-decoration: underline;"
      (click)="onShowMoreClicked()">MOSTRAR MAIS</p>
  </div>
  <div *ngIf="isLoading" style="width: 80%; height: 400px; margin: auto; box-sizing: border-box;">
    <img src='/assets/img/loading.gif' style="width: 100px; height: auto; display: block; margin: auto; padding: 100px 0px;">
  </div>
  <div *ngIf="!isLoading && !isSuccess">
    <app-expense-error-screen></app-expense-error-screen>
  </div>
  <div *ngIf="!isLoading && isSuccess && isEmptyResult">
    <app-expense-no-results-found></app-expense-no-results-found>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="menu" class="add-button" draggable="true">
  <app-add-menu
    (isAddMenuDismissedTrue)="setOpacity()"
    (isAddMenuDismissedFalse)="returnNornalOpacity()"
    (expenseClicked)="activeExpense()"
    (receiptClicked)="activeReceipt()"
    ([isAddMenuActive])="isAddMenuActive">

  </app-add-menu>
</div>



